@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


/* ================================ websiteDevelopment ============================ */
.websiteDevelopment .Banner-module--mainHeading--1JWbm {
  font-size: 45px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.websiteDevelopment .Banner-module--subHeading--1z4JK {
  font-size: 24px;
  font-family: Poppins, sans-serif;
}

.webDevCard {
  background-color: #f7fcff;
}

.webDevCard span {
  color: var(--secondary);
}

.webDevCard h2 {
  font-size: 40px;
}

.develop span b {
  color: var(--primary);
}

.chooseCardShadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 13px;
  border-radius: 10px;
  border: 0 !important;
}

.main-heading-36 span {
  color: var(--primary);
}
.back-pic-1{
  background: #293462;
  color: white;
}

.colorrr{
  color: #facc15;
}
.breadcrumb{
background-color: none;
}
